DB_NAME=auth_db
DB_USER=db_user
DB_PASSWORD=db_password

PRIVATE_KEY_PATH=private.pem
PUBLIC_KEY_PATH=public.pem

VALKEY_ADDR=valkey_path
SERVICE_URL=service_url
DAILY_CODE_KEY=valkey_key
DJANGO_SECRET_KEY=secret_key
FRONTEND_URL=frontend_url
MAIL_SERVICE_URL=mail_url
